/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.body{
    font-family: 'Inter';
    background-color: #e4c4c4;
}
.form {
  max-width: 576px;
  margin: auto;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.users_container {
  height: 90vh;
}

.gray {
  background-color: #ddd;
}

.messages {
  height: calc(100vh - 220px);
}
